 <title>Error</title>
    <style>
        body {
           
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
           
        }
        .text-danger {
            color: #dc3545;
            text-align: center;
        }
    </style>
<img src="~/Images/Error.png" alt="Error" style="display: block; margin: auto; width: 300px; height: 300px;" />
    <h6 class="text-danger">Error en la solicitud enviada</h6>


    <h2 class="text-danger">Ha ocurrido un error inesperado en la aplicación</h2>
   
<a class="Eliminar" style=" justify-items:center;" asp-controller="Libros" asp-action="Catalog">Volver</a>