@model tallerbiblioteca.Models.Devolucion

@{
    ViewData["Title"] = "Create";
}
<h4> Crear devolución</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formulario" onsubmit="sendForm(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_prestamo" class="control-label"></label>
                <select asp-for="Id_prestamo" class ="form-control" asp-items="ViewBag.Id_prestamo"></select>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_devolucion" class="control-label"></label>
                <input asp-for="Fecha_devolucion" class="form-control" />
                <span asp-validation-for="Fecha_devolucion" class="text-danger"></span>
            </div>

            <button class="button mt-2" type="submit">Registrar</button>
                <button class="button mt-2" type="button"> <a asp-action="Index">Regresar</a></button>
            
        </form>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-centered">
        <form method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h2 class="modal-title text-center">El formulario</h2>
                <button type="button" class="close" data-dismisss="modal">&tines;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function sendForm(e){
            e.preventDefault();
            Swal.fire({
                title: 'Quieres guardar los cambios?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'SI'
            }).then((resultado)=>{
                if (resultado.isConfirmed){
                    const formulario = document.getElementById("formulario")
                    formulario.submit();
                }
            })
        }
    </script>
}
