

@model tallerbiblioteca.Models.Peticiones

@{
    ViewData["Title"] = "Create";
}

<div >
<h1>Crear</h1>

<h4>Peticiones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Id_ejemplar" class="control-label required"></label>
                <select asp-for="Id_ejemplar" class ="form-control " style="width: 100%" id="selectEjemplares" asp-items="ViewBag.Id_ejemplar"></select>
            </div>
            <div class="form-group">
                <label asp-for="Id_usuario" class="control-label required"></label>
                <select asp-for="Id_usuario" class="form-control"  style="width: 100%" id="selectUsuarios" asp-items="ViewBag.Id_usuario"></select>
            </div>
            <div class="form-group">
                <input readonly asp-for="Motivo" type="hidden" class="form-control" value="Préstamo Libro" />
            </div>
                <div class="form-group">
                    <label asp-for="FechaPeticion" class="control-label required">Fecha y Hora:</label>
                    <input readonly asp-for="FechaPeticion" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    <span asp-validation-for="FechaPeticion" class="text-danger"></span>
                </div>
            <div class="mt-2">
                    <button class="button"  type="submit">Crear</button>
            </div>
        </form>
            <a asp-action="Index" class="button mt-2">Volver</a>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (ViewData["Crear"] != null && ViewData["Crear"].ToString() == "true")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Peticion Creada Con Exito',
            showConfirmButton: false,
            timer: 1500
        }).then(function () {
            window.location.href = '@Url.Action("Index", "Peticiones")';
        });
    </script>
}

@if (ViewData["Existe"] != null && ViewData["Existe"].ToString() == "true")
{
    <script>
        Swal.fire({
            title: 'Error',
            text: 'Este Usuario ya tiene una petición pendiente, solo puedes hacer una peticion a la vez',
            icon: 'error',
            confirmButtonText: 'Aceptar'
        });
    </script>
}
@section Scripts {
    <script src="~/js/select2.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('#selectEjemplares').select2();
        })
        $(document).ready(function () {
            $('#selectUsuarios').select2();
        })
        $(document).ready(function () {
            $('#selectEjemplares').select2();
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
